a is a multiple of 13127
b is a palindrome
c is a cube
d is a palindrome
e is a multiple of 37
f is a cube
g is a multiple of 43
h is a palindrome
i is a square
j is a multiple of 119
k is a power of 2
l is a palindrome
m is a multiple of 2051
n is a multiple of 747
o is a multiple of 1853239
p is a multiple of 22
q is a multiple of 63
r is a palindrome
s is a palindrome
t is a palindrome
u is a square
v is a multiple of 234
w is a multiple of 38
x is a power of 3
y is a power of 2
z is a cube
A is a palindrome
B is a multiple of 15
C is a multiple of 304
D is a multiple of 3011
E is a cube
F is a square
G is a palindrome
H is a palindrome
I is a multiple of 22
J is a palindrome
K is a multiple of 61
L is a power of 2
M is a palindrome
N is a palindrome
O is a square
P is a power of 3
Q is a square
R is a multiple of 38
S is a multiple of 2
T is a palindrome
U is a multiple of 3253
V is a multiple of 22
W is a power of 2
X is a multiple of 205
Y is a cube
Z is a multiple of 8
